.btn {
  cursor: pointer;
  background-color: black;
  border: 1px solid #ffffff;
  border-radius: 32.5px;
  color: #ffffff;
  width: 15%;
  height: 40px;
  margin-top: 1%;
}
.btnWhite{
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 32.5px;
  color: black;
  width: 15%;
  height: 40px;
  margin-top: 1%;
}