.input {
  box-sizing: border-box;
  width: 100%;
  background: #000000;
  border: 1px solid #848c9a;
  border-radius: 8px;
  height: 100%;
  color: white;
  padding-left: 5px;
}
.container {
  width: 45%;
  margin-bottom: 4%;
}
.p {
  margin-bottom: 1px;
}
.pWhite{
  color: black;
}
.inputWhite{
  box-sizing: border-box;
  width: 100%;
  background: white;
  border: 1px solid #848c9a;
  border-radius: 8px;
  height: 100%;
  color: black;
  padding-left: 5px;
}